.formularioRubro{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.formularioRubro input{
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: "10 px";
}

.listaRubros{
    margin-top: 20px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}