.formulario-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formatimput{
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-inputs {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-inputs {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.tercercol{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.cuartaCol{
    margin-left: 20px;
 
    display: flex;
    flex-direction: row;
}

.form-group {
    width: 100%;
    text-align: left;
    align-items: stretchs;
    outline: 1px solid black;
}

.inputs input {
    top: -1px
}

.modal-pie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

botones {
    margin: 10px 0px;
    padding: 10px;
    border: 0px;
    font-size: 1rem;
    text-align: center;
    width: 50%;
    text-decoration: none;
    color: white;
    background: rgba(156, 32, 86, 1);
    border-radius: 1.5%;
}

botones:hover {
    background: rgba(205, 109, 147, 0.8);
}