.bodyVenta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaVenta {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.primeralinea{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 30%;
   
}
.primeralinea label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    
   
}
.ver-cliente {
    margin: 5px;
    padding: 10px 15px;
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cliente-input {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.cliente-input input {
    width: 150px;
    margin-left: 10px;
}

.submitButton {
    position: relative;
    top: 50%;
    right: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    width: 30%;
    transform: translatey(-50%);
}

.cont {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.cajaConteiner {
    width: 100%;
    display: flex;
    flex-direction: col;
}


.cajaTablaVenta {
    width: 60%;
    margin-left: 10px;
    padding-left: 10px;
}