.bodyVenta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecera{
    width: 100vw;
    display: flex;
    flex-direction: row;
 
}
.cabeceraIzqVenta{
    width: 70vw;
    display: flex;
    flex-direction: column;

   
}
.primeralinea {
    display: flex;
    flex-direction: row;
    margin: 3px;
}

  .cabeceraDerVenta{
   margin-left: 100px;
    display: flex;
    flex-direction: column;
    
}
.cabeceraDerVenta button{
    width: 100px;
}

.listaVenta{
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.piedeventa
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: initial;
}
