.split {
    display: flex;
    width: 100%;
}

.columna {
    flex-basis: 90%;
}
.columnai {
    padding-left: 10px;
    flex-basis: 120%;
    align-items: flex-end;
}

.subtitle {
    text-align: center;
}

#provider{
    margin: 0 5px;
}

#productosEnCero {
    margin-left: 5px;
}