td {
    font-size: 1rem;
}
.input-icono {
    background-image: url('../inventario/lupa.svg');
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 28px;
    height: 30px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
  }
  .input-icono input {
    width: 100%;
    font-size: 0.9em;
    border: none;
  }
  .input-icono input:focus {
    outline: none;
  }
  
  .titulo-tabla{
    display: flex;
    flex-direction: row;
    align-items: center;
      }
  .titulo-izq{
    padding: 10px;
   align-content: flex-start;
   align-self: initial;
  }
  .titulo-der{
    float: right;
  }
      
button{
  padding: 10px;
  border: 0px;
  font-size: 1rem;
  align-self: center;
  text-align: center;
  width: 50%;
  text-decoration: none;
  color: white;
  background:rgba(156, 32, 86, 1);
  border-radius: 1.5%;
  
}

button:hover {
  background: rgba(205, 109, 147, 0.8);
}
